.background {
  max-width: 500px;
  margin: 50px auto;
}

.banner {
  color: #df7c6d;
  text-align: center;
  padding: 0.5rem;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoImage {
  max-height: 150px;
}

.aboutSection {
  color: rgb(95, 95, 95);
  padding: 1rem;
  margin-top: 2rem;
}

.footer {
  color: grey;
  text-align: center;
  border-top: solid grey 1px;
  font-style: italic;
}

.footer a {
  color: #df7c6d;
}

.noPaymentSetup {
  color: #df7c6d;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}