.background {
  max-width: 500px;
  margin: auto;
}

.banner {
  color: #df7c6d;
  text-align: center;
  padding: 0.5rem;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoImage {
  max-height: 150px;
}

.aboutSection {
  color: darkgrey;
  padding: 1rem;
  margin-top: 2rem;
}

.footer {
  color: grey;
  text-align: center;
  border-top: solid lightgray 1px;
  font-style: italic;
}