.selectAmountSection {
  max-width: 500px;
  margin: 2rem auto 1rem auto;
  border: solid #df7c6d 1px;
}

.selectAmountHeader {
  background-color: #df7c6d;
  color: white;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.selectAmountButtons {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
}

.selectAmountButton {
  width: 70px;
  border: dashed #df7c6d 1px;
  color: #df7c6d;
  background-color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 2px 2px #d6d6d6;
  margin: 0.5rem;
  text-align: center;
}

.selectAmountButton:hover {
  border: solid #df7c6d 1px;
  background: #df7c6d;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonSelected {
  width: 50px;
  border: solid #df7c6d 1px;
  color: white;
  background-color: #df7c6d;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 2px 2px #d6d6d6;
  margin: 0.5rem;
  text-align: center;
}

.buttonSelected:focus {
  outline: none;
}

.goToPayment {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid #df7c6d 1px;
  padding-bottom: 1rem;
}

.applePayButton {
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.otherPayButton {
  background-color: blue;
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1rem;

}


.confirmationBox {
  max-width: 500px;
  margin: 2rem auto 1rem auto;
  padding: 2rem 1rem;
  border: solid #df7c6d 1px;
  text-align: center;
}

.confirmationMessage {
  font-size: 2rem;
  color: #df7c6d;
  margin: auto;
  width: 100%;
  text-align: center;
}

.confirmationButton {
  composes: selectAmountButton;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: auto;
  border-style: solid;

}
