.navbar {
  width: 100%;
  padding: 2.6em 4em;
  display: flex;
  flex-basis: space-between;
  background: black;
}

.logo, .logo:hover {
  color: white;
  font-size: 34px;
  text-decoration: none;
}

.navbarToggleIcon {
  color: #df7c6d;
  font-size: 30px;
}

.linkSection {
  align-self: flex-end;
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.navLink {
  color: white !important;
  text-decoration: none;
  width: auto;
  font-size: 20px;
  margin: 0.5rem;
  font-weight: lighter;
}


.navLinkActive {
  composes: navLink;
  border-bottom: solid white 1px;
}