@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  margin: 0;
}

