.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 470px;
  justify-content: space-between;
  margin: 0 auto;
}
.emailInput::placeholder {
  color: #B2B2B2;
}
.emailInput {
  width: 300px;
  border-radius: 0;
  border: 1px solid #E0E0E0;
  height: 70px;
  padding-left: 20px;
}
.submitButton {
  width: 137px;
  text-align: center;
  color: white;
  background-color: #df7c6d;
  border-radius: 0;
  border: none;
  height: 70px;
  padding: 0.5rem 0;
  margin: auto;
}

.submitButton:hover {
  cursor: pointer;
  opacity: .8;
}

.submitButton:disabled {
  box-shadow: none;
}
